* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}
::placeholder {
    color: gainsboro;
    opacity: 0.3;
}
.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    transition: 0.8s all;
}
h1 {
    text-align: center;
    margin-bottom: 1.5%;
    color: white;
}
.container {
    width: 300px;
}
.result {
    width: 59.1%;
}
input {
    padding: 25px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    width: 70px;
    background-color: darkslategray;
    border: none;
    outline: none;
    border-radius: 4px;
}
.row {
    margin-bottom: 3px;
}
input[type="text"] {
    background-color: darkgray;
    width: 218px;
}
input[type="button"]:hover {
    background-color: darkgray;
    color: white;
}
button {
    border: none;
    background-color: darkgray;
    padding: 8px;
    color: white;
    margin: 2px;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: 200;
}
.clear-button{
    color: white;
    background-color: red;
    width: 97.5%;
}
a {
    text-decoration: none;
    color: white;
    border: none;
    background-color: darkgray;
    padding: 8px;
    color: white;
    margin: 2px;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: 200;
}
.bottom-buttons {
    display: flex;
    margin-left: -2.3px;
}
.fab {
    font-size: 1.1em;
}